<div class="container-fluid" id="container-id">
  <div class="row">
    <div class="col-sm-4">
      <h2>Sign up</h2>
    </div>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-sm-8">
        <%= f.error_notification %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :email, required: true, autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :password_confirmation, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <%= f.button :submit, "Sign up" , class: "btn btn-success"%>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-8">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<style>
#container-id{
  margin-left: 400px;
}
</style>
