
<div class="container-fluid" id="container-id">
  <div class="row">
    <div class="col-sm-4">
      <h2>Log In</h2>
    </div>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :email, required: false, autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :password, required: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <%= f.button :submit, "Log In" , class: "btn btn-success"%>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-8">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<style>
#container-id{
  margin-left: 400px;
}
</style>
