
<div class="container-fluid">
  <div class="row">
    <%= form_tag(music_studio_index_path, method: :get) do %>
      <div class='col-sm-3'>
        <div class="input-group">
          <label for="location" class= "location-data">Location</label>
          <%= text_field_tag :location,nil, placeholder: 'Enter Location Here..'%>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="input-group">
          <label for="start_time" class="start_time-data">Start Time</label>
          <%= text_field_tag :start_time,nil, placeholder: 'Enter Start Time Here..'%>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="input-group">
          <label for="end_time" class="end_time-data">End Time</label>
          <%=text_field_tag :end_time,nil, placeholder: 'Enter End Time Here..'%>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="input-group">
          <%= submit_tag "Search"%>
        </div>
      </div>
    <%end%>
    </div>
  </div>
<hr>

  <div class="row3">
    <%@studios.each do |studio|%>
      <div class="text-center">
        <h3><%= link_to "#{studio.name}",{controller: "studios", action: "index",id: studio.id},method: :get%></h3>
        <div>
          <%=studio.location%>
        </div>
        <p>Rs. <%=studio.price%></p>
        <hr>
      </div>
    <%end%>
  </div>
</div>



<style>
h2{
  display: inline-block;
  position: relative;
  left: 200px;
}
h3{
  display: inline-block;
}
p{
  display: inline-block;
}

</style>
