
<div class="container">
  <div class="row">
    <h3><%=@studio.name%><h3>
  </div>
  <div class="row">
    <p><%=@studio.studio_type%></p>
  </div>
  <div class="row">
    <h6> Rs. <%=@studio.price%><h6>
  </div>
  <div class="row">
    <p>Opens At: <%=@studio.opening_time.strftime("%I:%M %p")%></p>
  </div>
  <div class="row">
    <p>Closes At: <%=@studio.closing_time.strftime("%I:%M %p")%></p>
  </div>
  <div class="row">
    <%= button_to "Book",new_studio_booking_path(@studio),class: "btn btn-success",method: :get%>
  </div>
</div>


<style>

</style>
