
<div class="container">
  <div class="text-center">
    <h3><%=@studio.name%><h3>
    <p><%=@studio.studio_type%></p>
    <h6><%=@studio.price%><h6>
    <p>Opens At: <%=@studio.opening_time.strftime("%I:%M %p")%></p>
    <p>Closes At: <%=@studio.closing_time.strftime("%I:%M %p")%></p>
  </div>
</div>

<%= button_to "Book",new_studio_booking_path(@studio),method: :get%>

<style>
h2{
  display: inline-block;
  position: relative;
  left: 200px;
}

.button_to{
  display: inline-block;
  position: relative;
  left: 600px;
}

a.signup-class{
  color: blue;
  position: relative;
  left: 500px;
}
a.signin-class{
  color: blue;
  position: relative;
  left: 510px;
}
</style>
