<!DOCTYPE html>
<html>
  <head>
    <title>Musicstudio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <div class="row header">
        <h2>MusicStudio</h2>
        <% if user_signed_in? %>
          <%=link_to "SignOut",destroy_user_session_path,class: 'signout-class',method: :delete%>
        <%else%>
          <%= link_to "SignUp",new_user_registration_path,class: 'signup-class', id: 'signup-id'%>
          <%= link_to "SignIn",new_user_session_path,class: 'signin-class', id: 'signin-id'%>
        <%end%>
        <%= button_to "Post a new MusicStudio",new_studio_path,method: :get %>
      </div>
      </br>
      </br>
      <%= yield %>
    </div>
  </body>
</html>

<style>
.header{
  background: #ccc;
}

a.signup-class{
  color: blue;
  position: relative;
  left: 500px;
}
a.signin-class{
  color: blue;
  position: relative;
  left: 510px;
}

a.signout-class{
  color: blue;
  position: relative;
  left: 400px;
}

.button_to{
  display: inline-block;
  position: relative;
  left: 600px;
}
</style>
